* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 95vh;
    
}

#tetris {
    background-color: white;
    box-shadow: 0 0 10px 3px rgb(155, 152, 152);
}

#container {
    display: flex;
    position: relative;
}

#start {
    position: absolute;
    left: 100px; top: 280px; right: 100px; bottom: 280px;
   
}
